font{
    font-size: 2.8 rem;
}
body {
  padding: 0;
  margin: 0;
}

#container {
  background-color: #31286d;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#btn:focus {
  outline: 0;
}